.main{
    background-color: #f2f5f8;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image{
    margin-top: 5vh;
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: black;
    position: relative;
}
.prompt{
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 600px;
}
.buttonbox{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.canvas{
    height: 400px;
    width: 450px;
    margin-left: 10%;
    margin-top: 4.5%;
    border-style: solid;
    border-color: black;
}

.imagebox{
    display: flex;
    direction: row;
}

